<nav class="navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Socialization Tutorial</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if current_user.present? %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/usuarios/<%= current_user.to_param %>" title="Perfil" class="margin-inherit"><%= image_tag current_user.image, id: 'image-user' %><%if current_user.name.present?%> <%= current_user.name %> <% else %> <%= current_user.email %> <% end %> </a></li>
            <li><a href="/">Página Inicial</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/usuarios"><i class="fa fa-users"></i> Usuários</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-minus-circle"></i> Bloqueados</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to ' Sair', destroy_user_session_path, class: 'fa fa-sign-out', method: :delete %>
                </li>
              </ul>
            </li>
          </ul>
          <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to ' Entrar', new_user_session_path, class: 'fa fa-lock' %></li>
            <li><%= link_to ' Cadastre-se', new_user_registration_path, class: 'fa fa-pencil' %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
